.project {
    min-height: 250px;
    overflow: hidden;
}
.project .card {
    width: 100%;
    margin: 0;
}
.project .card:before{
    content: "";
}
.project .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


.project .card-body {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.57);
    display: none;
}
.project:hover .card-body{display: block;}
.project .card-body a {
    color: orange;
    font-size: 20px;
    font-weight: 700;
}
.project .sale {
    position: absolute;
    z-index: 10;
    background: #D55534;
    padding: 5px 32px;
    transform: rotate(-45deg);
    color: #fff;
    top: 26px;
    left: -24px;
}